body{
    background-color: #30302f;
    color: #d6bac1;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin:0 auto;
}

#leaderboard-link {
    cursor: pointer;
}

 header{
    display:flex;
    justify-content: space-between;
    margin: 15px;
    font-size: 24px;
 }

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.highscore-arr{
    padding-left:20px;
}

#start-button {
    font-size: 24px;
    color: #30302f;
    background-color: #d6bac1;
    cursor: pointer;
}

a:hover, .button:hover, #start-button:hover {
    color: rgba(1, 181, 85, 0.8);
}

.button{
    display:block;
    color:#30302f;
    background-color: #d6bac1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.end-btns{
    display: flex;
    flex-direction: column;
}

.card{
    max-width:100%;
    margin: 150px;
    border: 10px solid #d6bac1;
    padding: 100px;
    border-radius: 10%;
}



.opt-button{
    width: 100%;
    text-align: left;
    margin: 5px;
}
#result-div{
    display: none;
}

#back-button{
    margin-right: 10px;
}
